* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 100%;

	display: block;
}

header {
	width: 100%;
	background-image: url(BGimg.jpg);
	background-position: center;
	background-size: cover;
	color: white;
	text-transform: uppercase;
	padding: 50px 0px;
	text-align: center;
}

body > nav > ul {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	font-size: large;
	font-weight: 600;
	list-style: none;
}

body > nav > ul > li > a {
	color: black;
	text-decoration: none;
}
.main-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main {
	max-width: 70%;
	min-width: 400px;
	flex-basis: auto;
}

.main-h2 {
	padding-left: 35px;
}

.article-section-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

article {
	min-width: 300px;
	max-width: 400px;
	box-shadow: 1px 1px 1px 1px;
	text-align: center;
	margin: 10px;
	padding: 30px;
}

aside {
	flex-basis: auto;
	width: 30%;
	min-width: 350px;
	background-color: lightgray;
	padding: 10px;
}

footer {
	width: 100%;
	background-color: rgb(51, 50, 50);
	padding: 1%;
	text-align: center;
	color: white;
	bottom: 0;
	position: relative;
	margin-top: 20px;
}

footer a {
	color: white;
}

th,
td {
	padding: 1rem;
	border: 1px solid #000;
}
