body {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}

header {
	width: 100%;
	background-image: url(BGimg.jpg);
	background-position: center;
	background-size: cover;
	color: white;
	text-transform: uppercase;
	padding: 50px 0px;
	text-align: center;
}

.nav-menu > ul {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	font-size: large;
	font-weight: 600;
	list-style: none;
}

a {
	color: black;
}

.main-div {
	display: flex;
	flex-wrap: wrap;
}

main {
	max-width: 70%;
	min-width: 400px;
	display: flex;
	flex-wrap: wrap;
	flex: auto;
}

.article-section-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	min-width: 300px;
	max-width: 400px;
	box-shadow: 1px 1px 1px 1px;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

aside {
	width: 30%;
	min-width: 350px;
}

footer {
	width: 100%;
	background-color: rgb(51, 50, 50);
	padding: 2%;
	text-align: center;
	color: white;
	bottom: 0;
	position: absolute;
}

footer a {
	color: white;
}

th,
td {
	padding: 1rem;
	border: 1px solid #000;
}
